.check {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 1;
    border-image-source: none;
    border-image-slice: '100%';
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    overflow: hidden;
    border: 1px solid #e6ecf5;
}

.checked {
    background: #ff5e3a;
    &::before {
        box-sizing: border-box;
        position: absolute;
        content: '';
        transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, 0, 0);
        display: block;
        box-shadow: #ffffff 0px 0px 0px 10px, #ffffff 10px -10px 0px 10px,
            rgb(255, 255, 255) 32px 0px 0px 20px,
            rgb(255, 255, 255) 0px 32px 0px 20px,
            rgb(255, 255, 255) -5px 5px 0px 10px,
            rgb(255, 255, 255) 20px -12px 0px 11px;
        color: red;
        margin: -3px 7px;
    }
}

.checkbox {
    box-sizing: border-box;
    margin: 10px;
}

.label-cls {
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.options-checkboxes {
    display: none;
}

.checkbox-material {
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    top: 1px;
    display: inline-block;
    padding: 5px;
}
