.langind-page {
    position: relative;
    min-height: 100vh;
}

.content-bg-wrap {
    background: url(/assets/img/landing-users.png) repeat 0 0;
    animation: sidedownscroll 30s linear infinite;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 94, 58, 0.95);
        opacity: 1;
        z-index: auto;
    }
}

.landing-content {
    color: #ffffff;
    margin-bottom: 30px;
    & > *:first-child {
        font-weight: 300;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    & > * {
        color: inherit;
        margin-bottom: 45px;
    }
}

.header-spacer-standard {
    margin-bottom: '138px';
}

.display-flex {
    display: 'flex';
    align-items: 'center';
    &.content-center {
        justify-content: 'center';
    }

    &.content-around {
        justify-content: 'space-around';
    }
}

@keyframes sidedownscroll {
    0% {
        background-position: '0 0';
    }
    100% {
        background-position: '-2000px 2000px';
    }
}
