
<!-- Full Calendar -->

<div id="calendar-full-1" class="fc fc-ltr fc-unthemed">
	<div class="fc-toolbar">
		<div class="fc-left">
			<div class="fc-button-group">
				<button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left">
					<span class="fc-icon fc-icon-left-single-arrow"></span>
				</button>
			</div>
		</div>
		<div class="fc-center">
			<h6 class="date">April 14, <span>2017</span></h6>
		</div>

		<ul class="nav nav-tabs fc-right" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#month" role="tab">
					<svg class="olymp-month-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#week" role="tab">
					<svg class="olymp-week-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-week-calendar-icon"></use></svg>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#day" role="tab">
					<svg class="olymp-day-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-day-calendar-icon"></use></svg>
				</a>
			</li>
		</ul>

		<div class="fc-right">
			<div class="fc-button-group">
				<button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right">
					<span class="fc-icon fc-icon-right-single-arrow"></span>
				</button>
			</div>
		</div>

		<div class="fc-clear"></div>
	</div>
	<div class="fc-view-container" style="">

		<div class="tab-content">
			<div class="tab-pane active" id="month" role="tabpanel">
				<div class="fc-view fc-month-view fc-basic-view" style="">
					<table>
						<thead class="fc-head">
						<tr>
							<td class="fc-head-container fc-widget-header">
								<div class="fc-row fc-widget-header">
									<table>
										<thead>
										<tr>
											<th class="fc-day-header fc-widget-header fc-mon">Mon</th>
											<th class="fc-day-header fc-widget-header fc-tue">Tue</th>
											<th class="fc-day-header fc-widget-header fc-wed">Wed</th>
											<th class="fc-day-header fc-widget-header fc-thu">Thu</th>
											<th class="fc-day-header fc-widget-header fc-fri">Fri</th>
											<th class="fc-day-header fc-widget-header fc-sat">Sat</th>
											<th class="fc-day-header fc-widget-header fc-sun">Sun</th>
										</tr>
										</thead>
									</table>
								</div>
							</td>
						</tr>
						</thead>
						<tbody class="fc-body">
						<tr>
							<td class="fc-widget-content">
								<div class="fc-day-grid-container" style="">
									<div class="fc-day-grid">
										<div class="fc-row fc-week fc-widget-content" style="height: 103px;">
											<div class="fc-bg">
												<table>
													<tbody>
													<tr>
														<td class="fc-day fc-widget-content fc-mon fc-other-month fc-past" data-date="2017-03-27"></td>
														<td class="fc-day fc-widget-content fc-tue fc-other-month fc-past" data-date="2017-03-28"></td>
														<td class="fc-day fc-widget-content fc-wed fc-other-month fc-past" data-date="2017-03-29"></td>
														<td class="fc-day fc-widget-content fc-thu fc-other-month fc-past" data-date="2017-03-30"></td>
														<td class="fc-day fc-widget-content fc-fri fc-other-month fc-past" data-date="2017-03-31"></td>
														<td class="fc-day fc-widget-content fc-sat fc-past" data-date="2017-04-01"></td>
														<td class="fc-day fc-widget-content fc-sun fc-past" data-date="2017-04-02"></td>
													</tr>
													</tbody>
												</table>
											</div>
											<div class="fc-content-skeleton">
												<table>
													<thead>
													<tr>
														<td class="fc-day-number fc-mon fc-other-month fc-past" data-date="2017-03-27">27</td>
														<td class="fc-day-number fc-tue fc-other-month fc-past" data-date="2017-03-28">28</td>
														<td class="fc-day-number fc-wed fc-other-month fc-past" data-date="2017-03-29">29</td>
														<td class="fc-day-number fc-thu fc-other-month fc-past" data-date="2017-03-30">30</td>
														<td class="fc-day-number fc-fri fc-other-month fc-past" data-date="2017-03-31">31</td>
														<td class="fc-day-number fc-sat fc-past" data-date="2017-04-01">1</td>
														<td class="fc-day-number fc-sun fc-past" data-date="2017-04-02">2</td>
													</tr>
													</thead>
												</table>
											</div>
										</div>
										<div class="fc-row fc-week fc-widget-content" style="height: 103px;">
											<div class="fc-bg">
												<table>
													<tbody>
													<tr>
														<td class="fc-day fc-widget-content fc-mon fc-past" data-date="2017-04-03"></td>
														<td class="fc-day fc-widget-content fc-tue fc-past" data-date="2017-04-04"></td>
														<td class="fc-day fc-widget-content fc-wed fc-past" data-date="2017-04-05"></td>
														<td class="fc-day fc-widget-content fc-thu fc-past" data-date="2017-04-06"></td>
														<td class="fc-day fc-widget-content fc-fri fc-today fc-state-highlight" data-date="2017-04-07"></td>
														<td class="fc-day fc-widget-content fc-sat fc-future" data-date="2017-04-08"></td>
														<td class="fc-day fc-widget-content fc-sun fc-future" data-date="2017-04-09"></td>
													</tr>
													</tbody>
												</table>
											</div>
											<div class="fc-content-skeleton">
												<table>
													<thead>
													<tr>
														<td class="fc-day-number fc-mon fc-past" data-date="2017-04-03">3</td>
														<td class="fc-day-number fc-tue fc-past" data-date="2017-04-04">4</td>
														<td class="fc-day-number fc-wed fc-past" data-date="2017-04-05">5</td>
														<td class="fc-day-number fc-thu fc-past" data-date="2017-04-06">6</td>
														<td class="fc-day-number fc-fri fc-today fc-state-highlight" data-date="2017-04-07">7</td>
														<td class="fc-day-number fc-sat fc-future" data-date="2017-04-08">8
															<ul class="calendar-block-events">
																<li data-toggle="modal" data-target="#public-event">
																	<span class="event-status b-day"></span>
																	Chris Greyson’s Bday
																</li>

																<li data-toggle="modal" data-target="#private-event">
																	<span class="event-status completed"></span>
																	Make Dinner Plans...
																</li>
															</ul>

														</td>
														<td class="fc-day-number fc-sun fc-future" data-date="2017-04-09">9</td>
													</tr>
													</thead>
												</table>
											</div>
										</div>
										<div class="fc-row fc-week fc-widget-content" style="height: 103px;">
											<div class="fc-bg">
												<table>
													<tbody>
													<tr>
														<td class="fc-day fc-widget-content fc-mon fc-future" data-date="2017-04-10"></td>
														<td class="fc-day fc-widget-content fc-tue fc-future" data-date="2017-04-11"></td>
														<td class="fc-day fc-widget-content fc-wed fc-future" data-date="2017-04-12"></td>
														<td class="fc-day fc-widget-content fc-thu fc-future" data-date="2017-04-13"></td>
														<td class="fc-day fc-widget-content fc-fri fc-future" data-date="2017-04-14"></td>
														<td class="fc-day fc-widget-content fc-sat fc-future" data-date="2017-04-15"></td>
														<td class="fc-day fc-widget-content fc-sun fc-future" data-date="2017-04-16"></td>
													</tr>
													</tbody>
												</table>
											</div>
											<div class="fc-content-skeleton">
												<table>
													<thead>
													<tr>
														<td class="fc-day-number fc-mon fc-future" data-date="2017-04-10">10</td>
														<td class="fc-day-number fc-tue fc-future" data-date="2017-04-11">11</td>
														<td class="fc-day-number fc-wed fc-future" data-date="2017-04-12">12</td>
														<td class="fc-day-number fc-thu fc-future" data-date="2017-04-13">13</td>
														<td class="fc-day-number fc-fri fc-future" data-date="2017-04-14">14</td>
														<td class="fc-day-number fc-sat fc-future" data-date="2017-04-15">15</td>
														<td class="fc-day-number fc-sun fc-future" data-date="2017-04-16">16</td>
													</tr>
													</thead>
												</table>
											</div>
										</div>
										<div class="fc-row fc-week fc-widget-content" style="height: 103px;">
											<div class="fc-bg">
												<table>
													<tbody>
													<tr>
														<td class="fc-day fc-widget-content fc-mon fc-future" data-date="2017-04-17"></td>
														<td class="fc-day fc-widget-content fc-tue fc-future" data-date="2017-04-18"></td>
														<td class="fc-day fc-widget-content fc-wed fc-future" data-date="2017-04-19"></td>
														<td class="fc-day fc-widget-content fc-thu fc-future" data-date="2017-04-20"></td>
														<td class="fc-day fc-widget-content fc-fri fc-future" data-date="2017-04-21"></td>
														<td class="fc-day fc-widget-content fc-sat fc-future" data-date="2017-04-22"></td>
														<td class="fc-day fc-widget-content fc-sun fc-future" data-date="2017-04-23"></td>
													</tr>
													</tbody>
												</table>
											</div>
											<div class="fc-content-skeleton">
												<table>
													<thead>
													<tr>
														<td class="fc-day-number fc-mon fc-future" data-date="2017-04-17">17</td>
														<td class="fc-day-number fc-tue fc-future" data-date="2017-04-18">18</td>
														<td class="fc-day-number fc-wed fc-future" data-date="2017-04-19">19</td>
														<td class="fc-day-number fc-thu fc-future" data-date="2017-04-20">20</td>
														<td class="fc-day-number fc-fri fc-future" data-date="2017-04-21">21</td>
														<td class="fc-day-number fc-sat fc-future" data-date="2017-04-22">22</td>
														<td class="fc-day-number fc-sun fc-future" data-date="2017-04-23">23</td>
													</tr>
													</thead>
												</table>
											</div>
										</div>
										<div class="fc-row fc-week fc-widget-content" style="height: 103px;">
											<div class="fc-bg">
												<table>
													<tbody>
													<tr>
														<td class="fc-day fc-widget-content fc-mon fc-future" data-date="2017-04-24"></td>
														<td class="fc-day fc-widget-content fc-tue fc-future" data-date="2017-04-25"></td>
														<td class="fc-day fc-widget-content fc-wed fc-future" data-date="2017-04-26"></td>
														<td class="fc-day fc-widget-content fc-thu fc-future" data-date="2017-04-27"></td>
														<td class="fc-day fc-widget-content fc-fri fc-future" data-date="2017-04-28"></td>
														<td class="fc-day fc-widget-content fc-sat fc-future" data-date="2017-04-29"></td>
														<td class="fc-day fc-widget-content fc-sun fc-future" data-date="2017-04-30"></td>
													</tr>
													</tbody>
												</table>
											</div>
											<div class="fc-content-skeleton">
												<table>
													<thead>
													<tr>
														<td class="fc-day-number fc-mon fc-future" data-date="2017-04-24">24</td>
														<td class="fc-day-number fc-tue fc-future" data-date="2017-04-25">25</td>
														<td class="fc-day-number fc-wed fc-future" data-date="2017-04-26">26
															<ul class="calendar-block-events">
																<li data-toggle="modal" data-target="#public-event">
																	<span class="event-status uncompleted"></span>
																	Breakfast at the...
																</li>

																<li data-toggle="modal" data-target="#private-event">
																	<span class="event-status completed"></span>
																	Send the new...
																</li>

																<li data-toggle="modal" data-target="#public-event">
																	<span class="event-status uncompleted"></span>
																	Take Querty to the...
																</li>
															</ul>
														</td>
														<td class="fc-day-number fc-thu fc-future" data-date="2017-04-27">27</td>
														<td class="fc-day-number fc-fri fc-future" data-date="2017-04-28">28</td>
														<td class="fc-day-number fc-sat fc-future" data-date="2017-04-29">29</td>
														<td class="fc-day-number fc-sun fc-future" data-date="2017-04-30">30
															<ul class="calendar-block-events">
																<li data-toggle="modal" data-target="#public-event">
																	<span class="event-status uncompleted"></span>
																	Videocall to talk...
																</li>

																<li data-toggle="modal" data-target="#private-event">
																	<span class="event-status uncompleted"></span>
																	Jenny’s Birthday...
																</li>
															</ul>
														</td>
													</tr>
													</thead>
												</table>
											</div>
										</div>
										<div class="fc-row fc-week fc-widget-content" style="height: 108px;">
											<div class="fc-bg">
												<table>
													<tbody>
													<tr>
														<td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2017-05-01"></td>
														<td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2017-05-02"></td>
														<td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2017-05-03"></td>
														<td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2017-05-04"></td>
														<td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2017-05-05"></td>
														<td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2017-05-06"></td>
														<td class="fc-day fc-widget-content fc-sun fc-other-month fc-future" data-date="2017-05-07"></td>
													</tr>
													</tbody>
												</table>
											</div>
											<div class="fc-content-skeleton">
												<table>
													<thead>
													<tr>
														<td class="fc-day-number fc-mon fc-other-month fc-future" data-date="2017-05-01">1</td>
														<td class="fc-day-number fc-tue fc-other-month fc-future" data-date="2017-05-02">2</td>
														<td class="fc-day-number fc-wed fc-other-month fc-future" data-date="2017-05-03">3</td>
														<td class="fc-day-number fc-thu fc-other-month fc-future" data-date="2017-05-04">4</td>
														<td class="fc-day-number fc-fri fc-other-month fc-future" data-date="2017-05-05">5</td>
														<td class="fc-day-number fc-sat fc-other-month fc-future" data-date="2017-05-06">6</td>
														<td class="fc-day-number fc-sun fc-other-month fc-future" data-date="2017-05-07">7</td>
													</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">WEDNESDAY, MARCH 30</h6>
				</div>

				<div class="today-events calendar">
					<div class="list">

						<div class="control-block-button">

							<a href="#" class="btn btn-control bg-breez" data-toggle="modal" data-target="#create-event">
								<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
							</a>

						</div>

						<div id="accordion-3" role="tablist" aria-multiselectable="true" class="day-event">

							<div class="card">
								<div class="card-header" role="tab" id="headingOne-3">
									<div class="event-time">
										<time class="published" datetime="2017-03-24T18:18">10:50am</time>
										<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown">
												<li>
													<a href="#">Mark as Completed</a>
												</li>
												<li>
													<a href="#">Delete Event</a>
												</li>
											</ul>
										</div>
									</div>
									<h5 class="mb-0 title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Videocall to talk with the agency’s new client<i class="fa fa-angle-down" aria-hidden="true"></i>
											<span class="event-status-icon" data-toggle="modal" data-target="#public-event">
																		<svg class="olymp-calendar-icon"  data-toggle="tooltip" data-placement="top"   data-original-title="UNCOMPLETED"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
																	</span>
										</a>
									</h5>
								</div>

								<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
									<div class="card-body">
										I have to remeber to be a little earlier at the agency to discuss with the guys all the questions we have for our new client and to show them the new logo.
									</div>
									<div class="place inline-items">
										<svg class="olymp-add-a-place-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use></svg>
										<span>Daydreamz Agency</span>
									</div>

								</div>


							</div>

							<div class="card">
								<div class="card-header" role="tab" id="headingThree-3">
									<div class="event-time">
										<time class="published" datetime="2017-03-24T18:18">10:50am</time>
										<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown">
												<li>
													<a href="#">Mark as Completed</a>
												</li>
												<li>
													<a href="#">Delete Event</a>
												</li>
											</ul>
										</div>
									</div>
									<h5 class="mb-0 title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapseThree-3" aria-expanded="false" aria-controls="collapseThree-3">
											Jenny’s Birthday Party<i class="fa fa-angle-down" aria-hidden="true"></i>
											<span class="event-status-icon" data-toggle="modal" data-target="#private-event">
																		<svg class="olymp-calendar-icon" data-toggle="tooltip" data-placement="top"   data-original-title="UNCOMPLETED"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
																	</span>
										</a>
									</h5>
								</div>
								<div id="collapseThree-3" class="collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="card-body">
										Hi Guys! I propose to go a litle earlier at the agency to have breakfast and talk a little more about the new design project we have been working on. Cheers!
									</div>
									<div class="place inline-items">
										<svg class="olymp-add-a-place-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use></svg>
										<span>Daydreamz Agency</span>
									</div>

									<ul class="friends-harmonic inline-items">
										<li>
											<a href="#">
												<img src="img/friend-harmonic5.jpg" alt="friend">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/friend-harmonic10.jpg" alt="friend">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/friend-harmonic7.jpg" alt="friend">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/friend-harmonic8.jpg" alt="friend">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/friend-harmonic2.jpg" alt="friend">
											</a>
										</li>
										<li class="with-text">
											Will Assist
										</li>
									</ul>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

			<div class="tab-pane" id="week" role="tabpanel">
				<div class="fc-view fc-agendaWeek-view fc-agenda-view" style=""><table><thead class="fc-head"><tr><td class="fc-head-container fc-widget-header"><div class="fc-row fc-widget-header" style="margin-right: 16.333px;"><table><thead><tr><th class="fc-axis fc-widget-header" style="width: 1px;"></th><th class="fc-day-header fc-widget-header fc-mon" data-date="2017-04-10">SUNDAY 20</th><th class="fc-day-header fc-widget-header fc-tue" data-date="2017-04-11">MONDAY 21</th><th class="fc-day-header fc-widget-header fc-wed" data-date="2017-04-12">TUESDAY 22</th><th class="fc-day-header fc-widget-header fc-thu" data-date="2017-04-13">WEDNESDAY 23</th><th class="fc-day-header fc-widget-header fc-fri" data-date="2017-04-14">THURSDAY 24</th><th class="fc-day-header fc-widget-header fc-sat" data-date="2017-04-15">FRIDAY 25</th><th class="fc-day-header fc-widget-header fc-sun" data-date="2017-04-16">SATURDAY 26</th></tr></thead></table></div></td></tr></thead>
					<tbody class="fc-body"><tr><td class="fc-widget-content">

						<div class="fc-time-grid-container fc-scroller" style="height: 400px;"><div class="fc-time-grid"><div class="fc-bg"><table><tbody><tr><td class="fc-axis fc-widget-content" style="width: 1px;"></td>
							<td class="fc-day fc-widget-content fc-mon fc-today fc-state-highlight" data-date="2017-04-10"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2017-04-11"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2017-04-12"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2017-04-13"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2017-04-14"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2017-04-15"></td><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2017-04-16"></td></tr></tbody></table></div><div class="fc-slats"><table><tbody><tr data-time="06:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>6AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="06:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="07:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>7AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="07:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="08:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>8AM</span></td><td class="fc-widget-content"><ul class="calendar-block-events">
							<li data-toggle="modal" data-target="#public-event">
								<span class="event-status uncompleted"></span>
								Breakfast at the Agency
							</li>
						</ul></td></tr><tr data-time="08:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="09:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>9AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="09:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="10:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>10AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="10:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="11:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>11AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="11:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="12:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>12PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="12:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="13:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>1PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events"><li data-toggle="modal" data-target="#private-event">
							<span class="event-status completed"></span>
							Send the new “Olympus” project files to the Agency
						</li>
						</ul></td></tr><tr data-time="13:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="14:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>2PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="14:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="15:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>3PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="15:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="16:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>4PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="16:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="17:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>5PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="17:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="18:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>6PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="18:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="19:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>7PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="19:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="20:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>8PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="20:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><tbody><tr><td class="fc-axis" style="width: 1px;"></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td></tr></tbody></table></div><hr class="fc-divider fc-widget-header" style="display: none;"></div></div></td></tr></tbody>
				</table>
				</div>

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">THURSDAY, MARCH 24</h6>
				</div>

				<div class="no-past-events">
					<div class="control-block-button">

						<a href="#" class="btn btn-control bg-breez" data-toggle="modal" data-target="#create-event">
							<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
							<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 36px; top: -41.2px; background-color: rgb(255, 255, 255); transform: scale(2.60417);"></div></div>
						</a>

					</div>
					<svg class="olymp-month-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
					<span>There are no events to show</span>
					<a href="#" class="h6" data-toggle="modal" data-target="#create-event">Create an Event</a>
				</div>
			</div>

			<div class="tab-pane" id="day" role="tabpanel">
				<div class="fc-view fc-agendaDay-view fc-agenda-view" style="">
					<table>
						<thead class="fc-head">
						<tr>
							<td class="fc-head-container fc-widget-header">
								<div class="fc-row fc-widget-header" style="margin-right: 16px;">
									<table>
										<thead>
										<tr>
											<th class="fc-axis fc-widget-header" style="width: 1px;"></th>
											<th class="fc-day-header fc-widget-header fc-mon" data-date="2017-04-10">Monday</th>
										</tr>
										</thead>
									</table>
								</div>

							</td></tr></thead><tbody class="fc-body"><tr><td class="fc-widget-content">
						<div class="fc-time-grid-container fc-scroller" style="height: 400px;"><div class="fc-time-grid"><div class="fc-bg"><table><tbody><tr><td class="fc-axis fc-widget-content" style="width: 40px;"></td><td class="fc-day fc-widget-content fc-mon fc-today fc-state-highlight" data-date="2017-04-10"></td></tr></tbody></table></div><div class="fc-slats"><table><tbody><tr data-time="06:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>6AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="06:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="07:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>7AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="07:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="08:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>8AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="08:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="09:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>9AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="09:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="10:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>10AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="10:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="11:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>11AM</span></td><td class="fc-widget-content"></td></tr><tr data-time="11:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="
											:00:00">
							<td class="fc-axis fc-time fc-widget-content" style="width: 40px;">
													<span>12PM
													</span>
							</td>
							<td class="fc-widget-content"><ul class="calendar-block-events">
								<li data-toggle="modal" data-target="#public-event">
									<span class="event-status b-day"></span>
									Chris Greyson’s Bday
								</li>
							</ul></td></tr><tr data-time="12:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="13:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>1PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="13:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="14:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>2PM</span></td><td class="fc-widget-content"><ul class="calendar-block-events">
							<li data-toggle="modal" data-target="#public-event">
								<span class="event-status completed"></span>
								Make Dinner Plans with Jennifer
							</li>
						</ul></td></tr><tr data-time="14:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="15:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>3PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="15:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="16:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>4PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="16:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="17:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>5PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="17:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="18:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>6PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="18:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="19:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>7PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="19:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr><tr data-time="20:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"><span>8PM</span></td><td class="fc-widget-content"></td></tr><tr data-time="20:30:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 40px;"></td><td class="fc-widget-content"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><tbody><tr><td class="fc-axis" style="width: 40px;"></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td></tr></tbody></table></div><hr class="fc-divider fc-widget-header" style="display: none;"></div></div></td></tr></tbody></table></div>

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">TUESDAY, MARCH 8</h6>
				</div>

				<div class="today-events calendar">
					<div class="list">

						<div class="control-block-button">

							<a href="#" class="btn btn-control bg-breez" data-toggle="modal" data-target="#create-event">
								<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
							</a>

						</div>

						<div id="accordion" role="tablist" aria-multiselectable="true" class="day-event">

							<div class="card checked">
								<div class="card-header" role="tab" id="headingOne">
									<div class="event-time">
										<time datetime="2004-07-24T18:18">9:00am</time>
										<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown">
												<li>
													<a href="#">Mark as Completed</a>
												</li>
												<li>
													<a href="#">Delete Event</a>
												</li>
											</ul>
										</div>
									</div>
									<h5 class="mb-0 title">
										<a data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="true">
											Chris Greyson’s Bday
											<span class="event-status-icon checked" data-toggle="tooltip" data-placement="top"   data-original-title="CHECKED">
																		<svg class="olymp-checked-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-checked-calendar-icon"></use></svg>
																	</span>
										</a>
									</h5>
								</div>
							</div>

							<div class="card">
								<div class="card-header" role="tab" id="headingThree">
									<div class="event-time">
										<time class="published" datetime="2017-03-24T18:18">1:30am</time>
										<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown">
												<li>
													<a href="#">Mark as Completed</a>
												</li>
												<li>
													<a href="#">Delete Event</a>
												</li>
											</ul>
										</div>
									</div>
									<h5 class="mb-0 title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Make Dinner Plans with Jennifer
											<svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
											<span class="event-status-icon completed" data-toggle="modal" data-target="#public-event">
																		<svg class="olymp-checked-calendar-icon" data-toggle="tooltip" data-placement="top"   data-original-title="UNCOMPLETED"><use xlink:href="svg-icons/sprites/icons.svg#olymp-checked-calendar-icon"></use></svg>
																	</span>
										</a>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="card-body">
										I have to make reservations at that new restaurant downtown.
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>


	</div>
</div>

<!-- ... end Full Calendar -->